<!DOCTYPE html>
<html lang="en" xml:lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sensify</title>
    <link rel="icon" type="image/png" href="~/dashboardImage/favicon.svg" />
    @RenderSection("Styles", required: false)
    <link href="~/plugins/fontawesome-free/css/fontawesome.min.css" rel="stylesheet" />
    <link href="~/plugins/fontawesome-free/css/fontawesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="~/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="~/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <link href="~/plugins/select2/css/select2.min.css" rel="stylesheet" />
    <link href="~/css/CommonCss/CommonCssBak.css" rel="stylesheet" />
    <link href="~/css/backend.min.css" rel="stylesheet" />
    <link href="~/css/backend.css" rel="stylesheet" />

    <link href="~/plugins/summernote/summernote-bs4.min.css" rel="stylesheet" />
    <link href="~/plugins/summernote/summernote-bs4.css" rel="stylesheet" />

    <link href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css" rel="stylesheet" />

    <link href="~/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <link href="~/plugins/toastr/toastr.min.css" rel="stylesheet" />
    <link href="~/plugins/toastr/toastr.css" rel="stylesheet" />

    <link href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/plugins/datatables-responsive/css/responsive.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/plugins/datatables-buttons/css/buttons.bootstrap4.min.css" rel="stylesheet" />


    <style>
        .note-toolbar {
            background-color: white !important;
        }

        .select2-container .select2-selection--single {
            height: 38px !important;
        }

        table.dataTable > thead > tr > th:not(.sorting_disabled), table.dataTable > thead > tr > td:not(.sorting_disabled) {
            padding-right: 20px;
        }

        div.dataTables_wrapper div.dataTables_filter input {
            margin-left: .5em;
            display: inline-block;
            width: 150px;
        }
    </style>

</head>
<body>
    <div class="col-sm-12">
        <div class="row">
            @RenderBody()
        </div>

        <div class="modal fade" id="modal-lg">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="tittle"></h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="modalDiv">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="modalSave"></button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="~/plugins/jquery/jquery.min.js"></script>
    <script src="~/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="~/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/plugins/jquery-validation/additional-methods.min.js"></script>

    <script src="~/plugins/moment/moment.min.js"></script>
    <script src="~/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="~/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <script src="~/dist/js/adminlte.js"></script>
    <script src="~/plugins/select2/js/select2.min.js"></script>

    <script src="~/plugins/summernote/summernote-bs4.min.js"></script>
    <script src="~/plugins/summernote/summernote-bs4.js"></script>

    <script src="~/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>

    <script src="~/plugins/sweetalert2/sweetalert2.all.min.js"></script>
    <script src="~/application-scripts/notification.js"></script>
    <script src="~/plugins/toastr/toastr.min.js"></script>




    <script src="../../plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="../../plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="../../plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="../../plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="../../plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="../../plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="../../plugins/jszip/jszip.min.js"></script>
    <script src="../../plugins/pdfmake/pdfmake.min.js"></script>
    <script src="../../plugins/pdfmake/vfs_fonts.js"></script>
    <script src="../../plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="../../plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="../../plugins/datatables-buttons/js/buttons.colVis.min.js"></script>

    <script src="../../plugins/chart.js/Chart.min.js"></script>

    <script src="~/application-scripts/common-helper.js"></script>

    <script>
        let baseUrl = window.location.origin;
    </script>

    <script src="~/application-scripts/ajax-library.js"></script>
    <script>
        $(document).ready(function () {

            $("input[data-bootstrap-switch]").each(function () {
                $(this).bootstrapSwitch();
            })
            $('.product-image-thumb').on('click', function () {
                var $image_element = $(this).find('img')
                $('.product-image').prop('src', $image_element.attr('src'))
                $('.product-image-thumb.active').removeClass('active')
                $(this).addClass('active')
            });
        })
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
