<style>
    .footerStyle{
        text-align: center
    }
</style>


<footer class="main-footer bg-light footerStyle">
    <strong>Copyright &copy; @DateTime.UtcNow.Year <a href="#">Devense</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> 1.0
    </div>
</footer>

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">

</aside>
