@model string

@{
    ViewData["Title"] = "Forgot Password";
}
<style>
    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .row {
        max-width: 600px;
        width: 100%;
        margin: 0 auto;
    }

    .emailLable{
        display: inline-block;
        width: 100px;
    }

    .emailInput {
        display: inline-block;
        width: calc(100% - 110px);
    }

</style>
<div class="wrapper col-sm-12">
    <div class="login-box">
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a class="h5"><b>Forgot Password</b></a>
            </div>
            <div class="card-body">
              <p class="col-md-12"> @Html.Raw(ViewBag.Message)</p>
                <form asp-action="ForgotPassword" method="post">
                    <div class="input-group mb-3">
                        <input name="email" class="form-control emailInput" placeholder="Email">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block">Request new password</button>
                        </div>
                    </div>
                </form>
                <p class="mt-3 mb-1">
                    <a href="/Admin/Administration/login">Login</a>
                </p>
            </div>
        </div>
    </div>

</div>

