@{
    ViewData["Title"] = "Forgot Password Confirmation";
}

<style>
    /* Set the wrapper to take up the full viewport height and center content */
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        text-align: center;
    }

    .image-container img {
        width: 80px; /* Adjust the image width as needed */
        height: 80px; /* Adjust the image height as needed */
    }

    .text-container {
        margin-top: 20px; /* Space between image and text */
        font-weight: 700;
    }

    h1 {
        font-size: 24px;
        margin: 0;
    }
</style>

<div class="wrapper col-sm-12">
    <div class="image-container">
        <img src="/dashboardImage/successicon.gif" alt="Success Icon" />
    </div>
    <div class="text-container">
        <h1>The email has been sent. Please check your email to reset your password.</h1>
    </div>
</div>