@{
    ViewData["Titel"] = "Policy Setup";
}

@{
    var pageId = ViewBag.PageName + "-" + ViewBag.MenuId;
    var divToolbarId = "divtoolbar" + pageId;
    var toolbarId = "toolbar" + pageId;
    var tblMasterId = "tbl" + pageId;
    var tblBodyId = "tblBody" + pageId;
    var tblChildId = "tblChild" + pageId;
    var formId = "form" + pageId;
    var divPrimaryId = "divPrimary" + pageId;
    var divDetailsId = "divDetails" + pageId;
}

<div class="d-flex flex-column-fluid container row col-sm-12 mt-3" id="@pageId">
    <div class="row col-md-12">

        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0 h6 ">Terms & Condition</h5>
                </div>
                <div class="card-body h-370">
                    <form class="form-horizontal" id="formTermsCondition">
                        <input type="hidden" name="policy_setup" value="terms_condition">
                        <div class="form-group row">
                            <div class="col-md-12">
                                <textarea class="form-control" id="terms_conditionDescription"></textarea>
                            </div>
                        </div>
                        <div class="form-group mb-0 text-right">
                            <button type="button" class="btn btn-success" id="btnSave">Save</button>
                        </div>
                    </form>
                </div>
            </div> 
        </div>

        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0 h6 ">Privacy Policy</h5>
                </div>
                <div class="card-body h-370">
                    <form class="form-horizontal" id="formPrivacyPolicy">
                        <input type="hidden" name="policy_setup" value="privacy_policy">
                        <div class="form-group row">
                            <div class="col-md-12">
                                <textarea class="form-control" id="privacy_policyDescription"></textarea>
                            </div>
                        </div>
                        <div class="form-group mb-0 text-right">
                            <button type="button" class="btn btn-success" id="btnSave">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

@section scripts{
    <script>
        const GetPageInformation = function () {
            return {
                pageName: "@ViewBag.PageName",
                menuId: "@ViewBag.MenuId",
            }
        }
    </script>
    <script src="~/application-scripts/setup-and-configurations/terms-privacy.js"></script>
    }
